#root {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Francois One', Helvetica;
  text-align: center;
  letter-spacing: 40px;
  font-size: 6em;
  margin: 0 0 0 25px;

}

.red {
  background: linear-gradient(#f44153 50%, white 50%);
  background-size: 4px 4px;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.teal {
  background: linear-gradient(#42f4d1 50%, white 50%);
  background-size: 4px 4px;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.orange {
  background: linear-gradient(#de873a 50%, white 50%);
  background-size: 4px 4px;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.blue {
  background: linear-gradient(#61bae4 50%, white 50%);
  background-size: 4px 4px;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.app {
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 500px;
  width: 500px;
  outline: 1px solid black;
}
.cell {
  height: 10px;
  width: 10px;
  outline: 1px solid black;
}

.generation-count {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.button {
  height: 35px;
  width: 70px;
  color: white;
  text-align: center;
  line-height: 35px;
}

.button-clear {
  background: #f44153
}

.button-run {
  background: #50c448;
}

.button-pause {
  background: #de873a;
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
